@import url('https://fonts.googleapis.com/css?family=Quicksand');
button {
    cursor: pointer;
}

.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.NavBar {
    align-items: center;
    background-color: #424949;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

a {
    color: #D5D8DC;
    font-family: quicksand;
    text-decoration: none;
}

.route {
    color: #D5D8DC;
    font-family: quicksand;
    margin: 10px;
}

.desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mobile {
    display: none;
}

.DropDown {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 40px;
    width: 200px;
}

.dropDownRoute {
    align-items: center;
    background-color: #424949;
    color: #D5D8DC;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.dropDownRoute:hover {
    background-color: #2a2e2e;
}

.About {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.profile-top {
    
    min-height: 95vh;
}

.background-img {
    background-image: url('/images/pine-trees.jpg');
    height: 50vh;
    width: 100%;
}

.pic-wrapper {
    position: absolute;
    left: 50%;
    top: 35vh;
}

.profile-pic {
    background-image: url('/images/image_6483441.JPG');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    
    left: -50%;
    height: 20vw;
    min-height: 200px;
    width: 20vw;
    min-width: 200px;
    z-index: 9;
}

.f_name-wrapper {
    position: absolute;
    right: 50%;
    width: 25%;
}

.l_name-wrapper {
    position: absolute;
    left: 50%;
    width: 25%;
}

.first-name {
    display: flex;
    font-family: quicksand;
    font-size: 42pt;
    justify-content: flex-end;
    left: -50%;
    position: relative;
}

.last-name {
    display: flex;
    font-family: quicksand;
    font-size: 42pt;
    justify-content: flex-start;
    right: -50%;
    position: relative;
}

.profile {
    align-items: center;
    background-color: #EAEDED;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    padding-top: 80px;
    width: 50%;
}

.about-paragraph {
    font-family: quicksand;
    font-size: 18pt;
    text-align: center;
}

.Contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

input {
    background-color: white;
    border: 2px solid black;
    font-family: quicksand; 
    margin: 10px;
    width: 50%;
}

textarea {
    background-color: white;
    border: 2px solid black;
    font-family: quicksand;
    height: 200px; 
    margin: 10px;
    width: 50%;
}

button {
    background-color: white;
    border: 2px solid black;
    font-family: quicksand; 
    margin: 10px;
}

h1 {
    font-family: quicksand;
}

.Projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    width: 100%;
}

.projects-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.Project {
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    /* box-sizing: border-box; */
    height: 300px;
    margin: 10px;
    width: 300px;
}

.project-info {
    align-items: center;
    background-color: rgba(0,0,0,.5);
    background-position: center;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 300px;
    z-index: 9;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.project-link {
    color: white;
    margin: 5px;
}

.Skills {
    align-items: center;
    background-color: #EAEDED;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
    width: 100%;
}

.skills-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.skill {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
    margin: 20px;
    width: 130px;
}

.skill-picture {
    object-fit: cover;
    object-position: center;
    width: 100px;
}

h2 {
    color: #EAEDED;
}

h3 {
    color: black;
}

@media only screen and (max-width: 600px) {
    .profile-content {
        width: 75%;
    }

    .f_name-wrapper {
        top: 70%;
        width: 50%;
    }

    .first-name {
        justify-content: center;
        left: 50%
    }

    .l_name-wrapper {
        top: 80%;
        width: 50%;
    }

    .last-name {
        justify-content: center;
        right: 50%;
    }

    input {
        width: 75%;
    }

    textArea {
        width: 75%;
    }

    .NavBar {
        justify-content: flex-start;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inline-block;
    }
}